
<!DOCTYPE html>

<html>
  <head>
    <title>Movie Recommendation</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

<h2>Please enter what movie do you like:</h2>
{% from "_formhelpers.html" import render_field %}


<form method=post action="/results">
  <dl>
	{{ render_field(form.moviereview, cols='20', rows='5') }}
  </dl>
  <h2>Rate this movie:</h2>
  <input type=number step=0.5 name="rate" value=0.5 min="0.5" max="5"> rate movie<br/>
  <div>
	  <input type=submit value='Recommend movie' name='submit_btn'>
  </div>
</form>

  </body>
</html>
